.button {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 0.25rem;
  background: #343434;
  appearance: none;
  border: none;
  font-size: 1.5rem;
  color: var(--font-clr);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.button > p {
  background: var(--gradient);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonWrap {
  padding: 0.25rem;
  background: var(--gradient);
  display: inline-block;
  border-radius: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  transition: 150ms all linear;
}

.buttonWrap::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: -4px;
  left: 0;
  border-radius: .5rem;
  opacity: .6;
  background: var(--gradient);
  transition: 150ms all linear;
}

.buttonWrap:hover {
  transform: translateY(3px);
}

.buttonWrap:hover::after {
  opacity: 0;
}
