.main {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.titleParagraph {
    font-size: 1.5rem;
    font-family: Quicksand;
    font-weight: 600;
    background: var(--gradient);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-block: 0;
}