@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);

:root {
  --font-clr: #fff;
  --gradient: linear-gradient(45deg, #ffc700, #ed0000, #8583ff);
}

body {
  background-color: #343434;
  margin: 0;
}

h1, h2 {
  font-size: 2rem;
  font-family: Quicksand;
  font-weight: 600;
  background: var(--gradient);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block: 0;
}

a {
  font-family: Quicksand;
  font-weight: 600;
  margin-block: 0;
  text-decoration: none;
}

a.active {
  background: var(--gradient);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-block: 0;
  font-family: Quicksand;
}