.main {
  width: clamp(300px, 100%, 700px);
  position: relative;
  background-color: var(--bg-clr);
  border-radius: 0.25rem;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background: var(--gradient);
  z-index: -1;
  border-radius: 0.5rem;
}

.question {
  background-color: var(--bg-clr);
  border-radius: 0.25rem;
  width: 100%;
  color: var(--font-clr);
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.answer > input {
  width: 32px;
  height: 32px;
  margin: 0;
  border-radius: 0.5rem;
  border: 2px solid var(--font-clr);
  cursor: pointer;
  appearance: none;
  box-sizing: border-box;
}

.answerInput,
.answer > label {
  width: 80%;
}

.answer > label {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 2rem;
}

.answer > input:checked {
  background: var(--gradient);
}

.answer > p:first-of-type {
  color: var(--font-clr);
  font-size: 1.5rem;
  cursor: pointer;
}

.hint {
  font-size: 0.75rem;
  color: var(--font-clr);
  opacity: 0.8;
  text-align: center;
}

.add {
  color: var(--font-clr);
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.questionInput {
  width: 100%;
}
